.pag__nav{
    background-color: rgba(84, 54, 109, 0.671);
    padding: 10px 0;
}

.pag__nav-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pag__logo{
    width: auto;
    height: 80px;
}

.pag__menu-itens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 170px;
}

.pag__menu-itens img{
    width: auto;
    height: 50px;
    display: none;
}

.pag__nav ul li a{
    color: #fff;
    cursor: pointer;
}

.pag__nav ul li a:hover{
    color: rgb(49, 49, 49);
    cursor: pointer;
}

.pag__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.pag__input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #616161;
    padding: 10px;
    width: 300px;
    background-color: transparent;
    text-align: left;
}

.pag__textarea{
    resize: none;
    word-break: break-all;
}

.input-data {
    position: relative;
    color: white;
    text-align: center;
    padding: 12px 12px;
}

.input-data:before {
    position: absolute;
    top: 5px; left: 10px;
    content: attr(data-date);
    display: inline-block;
    color: #616161;
    font-family: Nunito, sans-serif;
    font-size: 12px;

}

.input-data::-webkit-datetime-edit, input::-webkit-inner-spin-button, input::-webkit-clear-button {
    display: none;
}

.input-data::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 3px;
    right: 0;
    color: black;
    opacity: 1;
}

.pag__paciente--data{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag__pacient--table{
    width: 100%;
}

@media (min-width: 767px) {
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
      }
    
    .table-responsive thead,
    .table-responsive th,
    .table-responsive td,
    .table-responsive tr {
    display: block;
    }

    .table-responsive td,
    .table-responsive th {
    height: auto;
    }

    .table-responsive thead {
        float: left;
    }

    .table-responsive tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
    
    .table-responsive tbody tr {
        display: inline-block;
    }

}    


.pag__pacient--table th{
    background-color: rgba(84, 54, 109, 0.671);
    padding: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3;
    color: #fff;
}

.pag__pacient--data{
    background-color: #EEEEEE;
    padding: 20px 10px;
    text-align: start;
    padding: 15px;
}

.pag__pacient--data td{
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #616161;
}

.pag__pacient--button{
    text-align: center;
    background-color: rgba(84, 54, 109, 0.671);
}

.pag__pacient--data button{
    border: 0;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
}

.btn-edit{
    background-color: #BAACCE;
}

.btn-edit{
    background-color: #A595BD;
}

.pag__pacient--data button img{
    width: auto;
    height: 30px;
}

footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding: 20px;
}

footer p{
    font-size: 12px;
}