    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Nunito;
    font-size: 16px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5a137e;
}

a:hover {
    color: #1c0527;
}

.container {
width: 1300px;
margin: 0 auto;
}

@media (max-width: 960px) {
.container {
    width: 100%;
    padding: 0 4%;
}
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}



.home-background{
    background-image: linear-gradient(to bottom, rgba(84, 54, 109, 0.671) 0, rgba(56, 13, 77, 0.8) 75%, #161616 100%), url(./img/home-img.jpg);
    background-size: cover;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    object-fit: cover;
    vertical-align: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__form{
    width: 420px;
    background-color: rgba(255,255,255,.8);
    margin: 0 auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    top: 100px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__logo{
    width: auto;
    height: 134px;
    margin-bottom: 30px;
}

.home__input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #616161;
    padding: 10px;
    width: 300px;
    background-color: transparent;
    text-align: center;
}

.home__button{
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgba(84, 54, 109, 0.671);
    margin: 30px;
    border: 0;
    letter-spacing: 3;
    font-weight: 300;
}

.home__button:hover{
    background-color: #2d193d;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 0;
}

.home__text{
    font-size: 14px;
    color: #616161;
}
